.pizza-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto;
}

article {
  justify-content: center;
  text-align: center;
  width: 75%;
  margin: auto;
}

#submit-button {
  border-color: white;
  background-color: #ffb84d;
  color: white;
  transition: 0.4s;
}

#submit-button:hover {
  background-color: #ffaf37;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

form {
  margin-bottom: 3rem;
}

Button {
  height: 3.2rem;
}

.form-error {
  margin-top: 1rem;
  color: red;
  font-family: "Roboto", sans-serif;
}
