.pizza-menu {
  display: flex;
  /* flex: 1 1 auto; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto;
}

article {
  /* display: flex; */
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
}

#submit-button {
  border-color: white;
  background-color: #ffb84d;
  color: white;
}

form {
  margin-bottom: 3rem;
}

.form-error {
  color: red;
}
